*{
	margin:0px 0px;
	padding: 0px 0px;
	border: 0px solid #000000;
}

#app{
	display: block;
	overflow: hidden;
}

header{
	display: flex;
	flex-wrap: wrap;

}

body{
	background-color: #EDEDED;
}
#texto{
	margin-left: 39%;
	color: #ffffff;
	font: bold 220% roboto;
}
#cabecera{					/*banner de arriba*/
	flex-direction: row;
	text-align: center;
	width: 100%;
	height: 10%;
	background: #1976D2;		/*color del fondo*/
	padding: 5px 15px;
	align-content: center;
	align-items: center;
}

.home{						/*caja del icono de la casa*/
	margin-left: 1%;
	width: 4%;
	padding: 0px;
	cursor: pointer;
	float: left;
}
#home{
	width: 100%;			/*el tamaño perse de la imagen*/
}
.logo{						/*Este sera el tamaño del Logo de la pagina*/
	width: 19%;
	height: 100%;
	margin-left: 35%;
}
#logo{						/*este ajusta la imagen al tamaño de su caja*/
	width: 100%;
}

#seccion{					/*esta es la zona blanca donde esta el formulario*/
	margin: 3% 25% 0% 25%;
	padding: 2%;
	display: block;
	background-color: #FFFFFF;		/* color del fondo del formulario*/
}

.icono{						/*caja del icono del inicio de sesion */
	margin: auto;
	width: 13%;
	height: 10%;
}
#icono{						/*tamaño del icono perse*/
	width: 100%;
	height: 100%;
}
.formulario{				/*coloca el formulario en el centro en el login*/
	margin: 10% auto auto auto;
	display: block;
}
.correo{					/*da formato al input del correo en el login*/
	border: 1px solid #A4A4A4;
	margin: 0% 25%;
	font:  170% roboto;
	width: 55%;
}
.posicion{				/*da formato a la zona de la contraseña*/
	position: relative;
	align-items: center;
	display: flex;
	flex-direction: row;
}
.pass{						/*da formato al input de la contraseña en el login*/
	border: 1px solid #A4A4A4;
	margin: 5% 0% 5% 25%;
	font:  190% roboto;
	width: 55%;
}
.ojo{						/*tamaño del icono del ojo*/
	width: 4%;
	margin-top: 0.5%;
	margin-left: 76%;
	position: absolute;
	cursor: pointer;
}
#ojo{						/*ajusta el ojo a su tamaño*/
	width: 100%;
}
.botones{					/*distancia entre los botones y las cajas de texto*/
	margin: 5% 25% 5% 25%;
}
.formButton{				/*formato a los botones de la parte del formulario*/
	cursor: pointer;
	outline: none;
	color: white;
	width: 50%;
	padding: 5%;
	font: 120% roboto;
	margin: 3% 25%;
	/*background-color: #00BCD4;*/
	background-color: #1565c0;
}
::placeholder{						/*De aqui para abajo es para el color del placeholder*/
	font: bold 70% roboto;
}
:-ms-input-placeholder{
	color: #D8D8D8;
	font: bold 70% roboto;
}
::-ms-input-placeholder{
	color: #D8D8D8;
	font: bold 70% roboto;
}
/*////////////////////////////////////////////////////////////////login////////////////////////////////////////////////////*/
#seccionc{				/*SECCION BLANCA EN EL DE REGISTRO*/
	margin: 3% 25% 0% 25%;
	padding: 1% 1% 10% 1%;
	display: box;
	background-color: #FFFFFF;
	/*box-shadow: rgba(0,0,0,0.5) 3px 3px 5px;*/
}
#seccionc2RN{ /*Sección blanca de la segunda pantalla del registro de negocios */
	margin: 3% 25% 0% 25%;
	padding: 1%;
	display: box;
	background-color: #FFFFFF;
}

h1{						/*FORMATO DE TEXTO DEL REGISTRO*/
	text-align: center;
	font: bold 200% roboto;
	margin: 0% 25% 0% 25%;
}
.nombreNU{				/*Formato de la caja con Icono del Username/Nombre de registro*/
	display: flex;
	align-items: center;
	align-content: center;
	width: 55%;
	margin: 0% 25%;
}
.iconoUser{				/*caja de icono de User*/
	width: 8.8%;
	margin-top: 1%;
}
#iconoUser{				/*tamño del icono de user*/
	width: 100%;
}
.formato{				/*RMATO PARA TODAS LAS CAJAS DEL REGISTRO EN LA PANTALLA REGISTRO*/
	border: 1px solid #A4A4A4;
	margin: 1% 25% 1% 25%;
	font:  150% roboto;
	width: 55%;
}
.formatopass{						/*da formato al input de la contraseña en el registro*/
	border: 1px solid #A4A4A4;
	margin: 1% 0% 1% 25%;
	font:  150% roboto;
	width: 55%;
}
#terminos{				/*FORMATO A LA PARTE DE TERMINOS Y CONDICIONES */
	text-align: center;
	font: bold 100% roboto;
	margin: 6% 0% 0% 28%;
}
.botones1{				/*CAJA PARA LOS BOTONES DEL REGISTRO*/
	display: flex;
	flex-direction: row;
	margin: 5% 25% 0% 25%;
}
.formButton1{			/*FORMATO PARA LOS BOTONES DE REGISTRO*/
	cursor: pointer;
	outline: none;
	color: white;
	width: 50%;
	padding: 3%;
	font: 100% roboto;
	margin: 5% 5%;
	background-color: #00BCD4;
	text-align: center;
	text-justify: inter-word;
}
#botonesN{					/*Estos son los botones de Inicio de sesion*/
	cursor: pointer;
	outline: none;
	color: white;
	margin-left: 5%;
	padding: 5px;
	font: 100% roboto;
	background-color: #00BCD4;
}
#fecha{

}
.formatoIn2R{				/*Cajas de inputs en la segunda pantalla de registro*/
	border: 1px solid #A4A4A4;
	margin: 1% 10% 2% 0%;
	font:  150% roboto;
	width: 100%;
}
.formatoL2R{ /*Cajas de labels en la segunda pantalla de registro negocio*/
	margin: 0% 0% 0% 0%;
	font:  150% roboto;
	width: 100%;
}
.lista{/*Formato de la caja de lista de categorías segunda pantalla de registro negocio*/
	margin-top: 3%;
	width: 50%;
	font: 150% roboto;
	border: 1px solid #000000;
}
#desplegable{ /*Formato opciones deplegables*/
	font: 70% roboto;
	width: 67%;
}
#registroFin{/*Botón registrar segunda pantalla de registro negocio*/
	cursor: pointer;
	outline: none;
	color: white;
	margin-top: 10%;
	padding: 5px;
	font: 180% roboto;
	background-color: #00BCD4;

}
#mensaje{/*Caja del mensaje*/
	margin: 5% 28% 40% 28%;
	font: 100% roboto;
}

.info{
	margin: 5% auto 0% auto;
	width: 8%;
}
#info{
	width: 100%;
	height: 100%;
}