*{
	margin:0px 0px;
	padding: 0px 0px;
	border: 0px solid #000000;
}

#app{
	display: block;
}

header{
	display: flex;
	flex-wrap: wrap;
}

body{
	background-color: #EDEDED;
}

#cabecera{					/*banner de arriba*/
	flex-direction: row;
	width: 100%;
	height: 10%;
	background: #1976D2;		/*color del fondo*/
	padding: 5px 15px;	
	align-content: center;
	align-items: center;
}

.home{						/*caja del icono de la casa*/
	margin-left: 1%;
	height: 57%;
	padding: 0px;
	cursor: pointer;
	float: left;
}
#home{
	width: 100%;			/*el tamaño perse de la imagen*/
}
.logo{						/*Este sera el tamaño del Logo de la pagina*/
	width: 19%;
	height: 100%;
	margin-left: 35%;
}
#logo{						/*este ajusta la imagen al tamaño de su caja*/
	width: 100%;
}

#seccion{					/*esta es la zona blanca donde esta el formulario*/
	margin: 3% 25% 0% 25%;
	padding: 2%;
	display: block;
	background-color: #FFFFFF;		/* color del fondo del formulario*/
}

.icono{						/*caja del icono del inicio de sesion */
	margin: auto;
	width: 13%;
	height: 10%;
}	
#icono{						/*tamaño del icono perse*/
	width: 100%;
	height: 100%;
}
.formulario{				/*coloca el formulario en el centro en el login*/
	margin: 10% auto auto auto;
	display: block;
}
.correo{					/*da formato al input del correo en el login*/
	border: 1px solid #A4A4A4;
	margin: 0% 25%;
	font:  190% roboto;
	width: 55%;
}
.pass{						/*da formato al input de la contraseña en el login*/
	border: 1px solid #A4A4A4;
	margin: 5% 25%;
	font:  190% roboto;
	width: 55%;	
}
.botones{					/*distancia entre los botones y las cajas de texto*/
	margin: 5% 25% 5% 25%;
}
.formButton{				/*formato a los botones de la parte del formulario*/
	cursor: pointer;
	outline: none;
	color: white;
	width: 50%;
	padding: 5%;
	font: 120% roboto;
	margin: 3% 25%;
	background-color: #1565c0;
	border-width: 1px;
	border-color: #0d47a1;
}
/*////////////////////////////////////////////////////////////////login////////////////////////////////////////////////////*/
#seccionc{				/*SECCION BLANCA EN EL DE REGISTRO*/
	margin: 3% 25% 0% 25%;
	padding: 1%;
	display: box;
	background-color: #FFFFFF;
	/*box-shadow: rgba(0,0,0,0.5) 3px 3px 5px;*/
}

h1{						/*FORMATO DE TEXTO DEL REGISTRO*/
	text-align: center;
	font: bold 200% roboto;
	margin: 0% 25% 0% 25%;
}
.formato{				/*RMATO PARA TODAS LAS CAJAS DEL REGISTRO EN LA PANTALLA REGISTRO*/
	border: 1px solid #A4A4A4;
	margin: 2% 25% 0% 25%;
	font:  150% roboto;
	width: 55%;
}
#terminos{				/*FORMATO A LA PARTE DE TERMINOS Y CONDICIONES */
	text-align: center;
	font: bold 100% roboto;
	margin: 2% 0% 0% 25%;
}
.botones1{				/*CAJA PARA LOS BOTONES DEL REGISTRO*/
	display: flex;
	flex-direction: row;
	margin: 5% 25% 0% 25%;
}
.formButton1{			/*FORMATO PARA LOS BOTONES DE REGISTRO*/
	cursor: pointer;
	outline: none;
	color: white;
	width: 50%;
	padding: 3%;
	font: 100% roboto;
	margin: 5% 5%;
	background-color: #1565c0;
	border-width: 1px;
	border-color: #0d47a1;
	text-align: justify;
	text-justify: inter-word;
}
#botonesN{					/*Estos son los botones de Inicio de sesion*/
	box-shadow: rgba(0,0,0,0.5) 3px 3px 5px;
	border-radius: 15%;
	cursor: pointer;
	outline: none;
	color: white;
	margin-left: 25%;
	padding: 5px;
	font: 100% roboto;
	background-color: #1565c0;
	border-width: 1px;
	border-color: #0d47a1;
}