*{
	margin:0px 0px;
	padding: 0px 0px;
	border: 0px solid #000000;
	font-family: roboto;
}
/*border: 1px solid #FF0000;*/
#app{				/*Encierra toda la pagina y evita que se coloque un scroll horizontal*/
	display: block;
	overflow: hidden;
}
body{
	background-color: #EDEDED;
}
#cabecera{					/*Esta es la parte de la cabecera, el color el tamaño y el tipo de letra*/
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	height: 70px;
	width: 100%;
	background: #1976D2;
	padding: 0.7% 1.2%;
	align-content: center;
	align-items: center;
}
#hamburguesa{				/*Formato al boton de menu*/
	width: 3%;
	height: 50%;
	background-image: url("iconos/ic_menu_v3.png");
	background-size: cover;
	background-repeat: center;
	background-color: transparent;
	outline: none;
	cursor: pointer;
}
.logo{						/*Este sera el tamaño del Logo de la pagina*/
	width: 20%;
	height: 50%;
	cursor: pointer;
}
#logo{						/*Asigna la imagen al tamaño correspondiente*/
	width: 100%;
	height: 100%;
}

.buscar{					/*Tamaño a toda la zona relacionada con la busqueda (input y lupa)*/
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 25%;
	height: 50%;
}
#formulario{				/*Da formato al formulario que se utilizara para enviar la busqueda*/
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
}
#buscar{				/*Este es la parte del buscador fondo, tamaño*/
	text-align: left;
	width: 90%;
	height: 100%;
	color: white;
	font: bold 130% roboto;
	background-color: transparent;
	border-style: groove;
	border-width: 0px 0px 3px 0px;
	border-color: #0D47A1;
}
#lupa{									/*Le da tamaño al boton de la lupa*/
	width: 10%;
	background-color: transparent;
	outline: none;
	cursor: pointer;
	background-size: cover;
	background-repeat: center;
	background-image: url("iconos/ic_lupa_v3.png");
}
.botones{							/*Le da tamaño a toda la zona de los botones Registro e inicio de Sesión*/
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	height: 60%;
	width: 15%;
}
#botonesN{					/*Estos son los botones de Registro e Inicio de sesion*/
	box-shadow: rgba(0,0,0,0.5) 3px 3px 5px;
	border-radius: 15%;
	cursor: pointer;
	outline: none;
	color: white;
	padding: 4% 2%;
	font: 85% roboto;
	background-color: #1565c0;
	border-width: 1px;
	border-color: #0d47a1;
}
.iconos{					/*Tamaño a toda la zona de notificaciones e icono*/
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	height: 80%;
	width: 10%;
	margin-right: 1%;
}
.notificacion{				/*Le da tamaño a la caja de la notificacion*/
	width: 20%;
}
#notificacion{				/*Le asigna el tamaño a la imagen de la notificacion*/
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.icono{						/*Le da tamñao a la caja del icono*/
	border-radius: 50%;
	width: 50%;
	height: 100%;
	margin-left: 20%;
	background-color: transparent;
}
#icono{						/*Asigna el tamaño a la imagen del icono*/
	width: 100%;
	height: 100%;
}
input:focus{						/*Esto es para cuando se da click en un boton no se marque un cuadro alrededor*/
	outline: none;
}
::placeholder{						/*De aqui para abajo es para el color del placeholder*/
	color: #D8D8D8;
	opacity: 1;
	font: bold 80% roboto;
}
:-ms-input-placeholder{
	color: #D8D8D8;
	font: bold 80% roboto;
}
::-ms-input-placeholder{
	color: #D8D8D8;
	font: bold 80% roboto;
}
/*///////////////////////////////////////////////////////////////////////////Empieza  banner//////////////////////////////////////////*/

#centro{							/*Parte central de la pagina*/
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	margin-left: 0%;
}
#seccion-banner{					/*Caja para el banner*/
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: 100%;
	width: 20%;
	margin: 0%;
}
#banner{							/*Banner oculto de la pagina*/
	height: 100%;
	width: 0%;
	visibility: hidden;
}
#banner1{							/*Baner visible de la pagina*/
	background-color: #A4A4A4;
	padding: 5% 3% 5% 3%;
	float: left;
	text-overflow: initial;
	-webkit-animation: banner 1.5s;
	animation: banner 1.5s;
	width: 94%;
	height: 100%;
	padding-bottom: 42%;
	visibility: visible;
}

@keyframes banner{					/*Animacion*/
	0%{width: 1%; height: 100%;}
	100%{width: 94%; height: 100%;}
}
#mostrar{								/*Mostrara algo en este caso la lista*/
	visibility: visible;
	transition: visibility 3s;
}
#ocultar{								/*Sirve para ocultar cosas, como la publicidad y la lista*/
	height: 0px;
	margin: 0px;
	padding: 0px;
	visibility: hidden;
}
h1{										/*Formato a la parte en negro de la lista*/
	font: bold 100% roboto;
}
li{										/*Formato a la lista*/
	font: 95% roboto;
	border-radius: 10px;
	margin-top: 1%;
	margin-bottom: 1%;
	box-shadow: rgba(0,0,0,0.5) 3px 3px 5px;
}
a{										/*Formato para los hipervinculos*/
	text-decoration: none;
	text-decoration-color: #000000;
}
#publicidad1{							/*Publicidad que se encuentra dentro del banner */
	width: 100%;
	height: 60%;
	padding: 0%;
	visibility: visible;
}
#publicidad2{							/*Publicidad que se encuentra fuera del banner */
	width: 90%;
	margin: 0% 5%;
	padding: 0% 0% 0% 0%;
	visibility: visible;
}
/*//////////////////////////////////////////////////////////////Empieza pagina de servicio//////////////////////////////////////////////////////////////////////////////*/
#centro1{								/*Parte central de la pagina de servicio*/
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 79%;
	height: 100%;
}
#perfil{								/*Zona con las imagenes y descripcion de negocio*/
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	text-align: center;
	margin-top: 2%;
	width: 70%;
	height: 100%;
}
#extras{								/*Zona con el video de publicidad, mapa, e informacion del negocio*/
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 29%;
	height: 100%;
	margin-top: 2%;
}
#player{								/*Tamaño para el reproductor*/
	padding: 2% 2%;
	width: 90%;
	height: 20%;
}
#mapa{									/*Tamaño para el mapa*/
	padding: 50% 0%;
	margin-top: 2%;
	margin-bottom: 4%;
	width: 90%;
	height: 50%;
}
#info{									/*Tanaño de la informacion cuadro de contacto */
	width: 49%;
	height: 60%;
	font: 90% roboto;
	background-color: #A4A4A4;
	border: 1px solid #1565c0;
	text-align: center;
}
h2{
	font: bold 130% roboto;
}
#codi{									/*Ajusta texto de correo y direccion a la izquierda*/
	text-align: left;
	margin-left: 5%;
}
#etiqueta{								/*Da formato al texto de "Correo" y "Direccion"*/
	font: bold 100% roboto;
}

#pie{									/*Pie de la pagina*/
	background-color: black;
	width: 100%;
	height: 35px;
  	bottom: 0px;
}
#anunciate{								/*Boton dentro del pie de pagina*/
	margin-top: 2.5px;
	margin-right: 50px;
	float: right;
	height: 30px;
	cursor: pointer;
	outline: none;
	padding: 5px;
	border-width: 1px;
	align-items: right;
	font: 95% roboto;
}
#imagenN{
	border: 1px solid #FF0000;
	width: 50%;
}
#imgnegocio{/*Formato de la imágen en pantalla Servicio*/
	max-width: 100%;
	/*height: 50%;
	max-height: 300px;*/
}
#descNegocio{
	text-align: center;
	width: 100%;

}
#descHorario{
	text-align: justify;
	max-height: 100%;
}
#estrellas{
	text-align: left;
}
.certificados{
		font: 95% roboto;
		border-radius: 0px;
		margin-top: 1%;
		margin-bottom: 1%;
		box-shadow: rgba(0,0,0,0.5) 0px 0px 0px;
		padding-left: 3%;

}
/*////////////////////////////////////////////////////////Empieza perfil normal///////////////////////////////////////////////////////////////////*/
#centro2{							/*Parte central de la pagina de perfil normal*/
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 79%;
	height: 100%;
	padding-top: 1%;
}
.perfil{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	align-content: center;
	justify-content: space-between;
	width: 100%;
}
.iPerfil{
	width: 10%;
	height: 30%;
}
#iPerfil{
	width: 100%;
}
.subirImg{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	background-color: #D8D8D8;
	width: 14%;
	height: 10%;
	cursor: pointer;
	margin-bottom: 2%;
}
#bsubir{
	font: bold 100% roboto;
	cursor: pointer;
	outline: none;
	padding: 0.5% 0%;
	width: 80%;
	height: 100%;
	margin-bottom: 3%;
}
.camara{
	width: 10%;
	height: 100%;
}
#camara{
	height: 100%;
	width: 100%;
}
#datosNegrita{
	margin-bottom: 1%;
}
#datosUser{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	text-align: left;
	justify-content: space-around;
}
#datos{
	font: 100% roboto;
	margin: 2% 0%;
}
.favoritos{
	margin-top: 1%;
	width: 100%;
	height: 25%;
	
}
.fav{
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-between;
}
.negocios{
	width: 20%;
	height: 50%;
}
#negocios{
	width: 100%;
	height: 100%;
}

#nombre{
	width: 20%;
	padding: 3% 0%;
	text-align: center;
	font: bold 120% roboto;
	background-color: #BDBDBD;
}
#nada{
	width: 20%;
	padding: 3% 0%;	
}
#botones{
	width: 20%;
	padding: 0.5% 0%;
	text-align: center;
	font: bold 120% roboto;
	background-color: #1565c0;
	cursor: pointer;
}
#bnada{
	width: 20%;
	padding: 0.5% 0%;
	background-color: transparent;
	outline: none;
}
.mispromociones{
	width: 100%;
	margin-top: 1%;
}
#promo{
	height: 50%;
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: center;
	justify-content: space-between;
	margin-bottom: 5%;
}
#tarjetas{
	width: 18%;
	height: 25%;
	display: flex;
	cursor: pointer;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: center;
}
#notarjetas{
	width: 18%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-content: center;	
}
#rojo{
	width: 100%;
	background-color: #FF0000;
	font: bold 120% roboto;
	text-align: center;
	color: #FFFFFF;
	padding: 1% 0%;
}
#norojo{
	width: 100%;
	padding: 1% 0%;
	margin: 0% 5%;
}
#desc{
	width: 90%;
	height: 25%;
	font: 100% roboto;
	text-align: center;
	background-color: #ffffFF;
	padding: 10% 5%;
	margin-bottom: 5%;
}
#nodesc{
	width: 100%;
	padding: 1% 0%;
	margin: 0% 5%;
}
#ejemplo{
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom: 5%;
}