*{
	margin:0px 0px;
	padding: 0px 0px;
	border: 0px solid #000000;
	font-family: roboto;
}
/*border: 1px solid #FF0000;*/
#app{				/*Encierra toda la pagina y evita que se coloque un scroll horizontal*/
	display: block;
	overflow: hidden;
}

#cabecera{					/*Esta es la parte de la cabecera, el color el tama침o y el tipo de letra*/
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 70px;
	width: 100%;
	background: #1976D2;
	padding: 0.7% 1.2%;
	align-content: center;
	align-items: center;
}
#hamburguesa{
	margin-left: 0.5%;
	margin-right: 2.5%;
	padding: 0%;
	width: 3%;
	height: 50%;
	background-image: url("iconos/ic_menu_v3.png");
	background-size: cover;
	background-repeat: center;
	background-color: transparent;
	outline: none;
	cursor: pointer;
}
.logo{						/*Este sera el tama침o del Logo de la pagina*/
	width: 20%;
	height: 50%;
	margin-left: 2.5%;
	margin-right: 5%;
	cursor: pointer;
}
#logo{
	width: 100%;
	height: 100%;
}

.buscar{
	display: flex;
	flex-direction: row;
	width: 25%;
	height: 50%;
	margin-left: 2.5%;
	margin-right: 2.5%;
}
#formulario{
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
}
#buscar{				/*Este es la parte del buscador fondo, tipo de letra tama침o*/
	text-align: left;
	width: 90%;
	height: 100%;
	color: white;
	font: bold 130% roboto;
	background-color: transparent;
	border-style: groove;
	border-width: 0px 0px 3px 0px;/*	*/
	border-color: #0D47A1;
}
#lupa{
	width: 10%;
	height: 100%;
	background-color: transparent;
	outline: none;
	cursor: pointer;
	background-size: cover;
	background-repeat: center;
	background-image: url("iconos/ic_lupa_v3.png");
}

#botonesN{					/*Estos son los botones de Registro e Inicio de sesion*/
	box-shadow: rgba(0,0,0,0.5) 3px 3px 5px;
	border-radius: 15%;
	cursor: pointer;
	outline: none;
	color: white;
	padding: 0.3%;
	font: bold 95% roboto;
	background-color: #1565c0;
	border-width: 1px;
	border-color: #0d47a1;
	margin-right: 2.5%;
	margin-left: 2.5%;
}
.notificacion{
	width: 2%;
	margin-left: 0.5%;
	margin-right: 1.5%;

}
#notificacion{
	width: 100%;
	height: 100%;
}

.icono{						/*Este es el icono que aparece a la derecha*/
	border-radius: 50%;
	width: 4%;
	height: 80%;
	background-color: transparent;
	margin-left: 1%;
}
#icono{
	width: 100%;
	height: 100%;
}
input:focus{						/*Esto es para cuando se da click en un boton no se marque un cuadro alrededor*/
	outline: none;
}
::placeholder{						/*De aqui para abajo es para el color del placeholder*/
	color: #D8D8D8;
	opacity: 1;
	font: bold 80% roboto;
}
:-ms-input-placeholder{
	color: #D8D8D8;
	font: bold 80% roboto;
}
::-ms-input-placeholder{
	color: #D8D8D8;
	font: bold 80% roboto;
}
/*///////////////////////////////////////////////////////////////////////////Cabecera//////////////////////////////////////////*/

#centro{							/*Parte central de la pagina*/
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	margin-left: 0%;
}
#seccion-banner{					/*Caja para el banner*/
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: 100%;
	width: 20%;
	margin: 0%;
}
#banner{							/*Banner oculto de la pagina*/
	height: 100%;
	width: 0%;
	visibility: hidden;
}
#banner1{							/*Baner visible de la pagina*/
	background-color: #A4A4A4;
	padding: 5% 3% 5% 3%;
	float: left;
	text-overflow: initial;
	-webkit-animation: banner 1.5s;
	animation: banner 1.5s;
	width: 94%;
	height: 100%;
	visibility: visible;
}

@keyframes banner{					/*Animacion*/
	0%{width: 1%; height: 100%;}
	100%{width: 94%; height: 100%;}
}
#mostrar{								/*Mostrara algo en este caso la lista*/
	visibility: visible;
	transition: visibility 3s;
}
#ocultar{								/*Sirve para ocultar cosas, como la publicidad y la lista*/
	height: 0px;
	visibility: hidden;
}
h1{										/*Formato a la parte en negro de la lista*/
	font: bold 100% roboto;
}
li{										/*Formato a la lista*/
	font: 95% roboto;
	border-radius: 10px;
	margin-top: 1%;
	margin-bottom: 1%;
	box-shadow: rgba(0,0,0,0.5) 3px 3px 5px;
}
a{										/*Formato para los hipervinculos*/
	text-decoration: none;
	text-decoration-color: #000000;
}

#publicidad1{							/*Publicidad que se encuentra dentro del banner */
	width: 100%;
	height: 60%;
	padding: 0%;
	visibility: visible;
}
#publicidad2{							/*Publicidad que se encuentra fuera del banner */
	width: 90%;
	height: 60%;
	margin: 0% 5%;
	padding: 0% 0% 80% 0%;
	visibility: visible;
}

#centro1{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 79%;
	height: 100%;
}
#perfil{								/*Zona con las imagenes y descripcion de negocio*/
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	text-align: center;
	margin-top: 2%;
	width: 70%;
	height: 100%;
	padding-bottom: 50%;				/*Quita esto cuando empieces a trabajar*/
}
#extras{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	width: 29%;
	height: 100%;
	margin-top: 2%;
}
#player{
	padding: 2% 2%;
	width: 90%;
	height: 20%;
}
#mapa{
	padding: 50% 0%;
	margin-top: 2%;
	margin-bottom: 4%;
	width: 90%;
	height: 50%;
}
#info{
	width: 90%;
	height: 30%;
	font: 90% roboto;
	background-color: #A4A4A4;
	border: 1px solid #1565c0;
	margin-bottom: 5%;
	text-align: center;
}
h2{
	font: bold 130% roboto;
}
#codi{									/*Ajusta texto de correo y direccion a la izquierda*/
	text-align: left;
	margin-left: 5%;
}
#etiqueta{								/*Da formato al texto de "Correo" y "Direccion"*/
	font: bold 100% roboto;
}

#pie{									/*Pie de la pagina*/
	background-color: black;
	width: 100%;
	height: 35px;
  	bottom: 0px;
}
#anunciate{								/*Boton dentro del pie de pagina*/
	margin-top: 2.5px;
	margin-right: 50px;
	float: right;
	height: 30px;
	cursor: pointer;
	outline: none;
	padding: 5px;
	border-width: 1px;
	align-items: right;
	font: 95% roboto;
}
#imagenN{
	text-align: center;
	width: 100%;
	border: 1px solid #645400;
}
#imgnegocio{/*Formato de la im치gen en pantalla Servicio*/
	max-width: 100%;
	height: 50%;
	max-height: 500px;
}
#descNegocio{
	text-align: center;
	width: 100%;
	border: 1px solid #645400;

}
#descHorario{
	text-align: justify;
	max-height: 100%;
}
#estrellas{
	text-align: left;
}
.certificados{
		font: 95% roboto;
		border-radius: 0px;
		margin-top: 1%;
		margin-bottom: 1%;
		box-shadow: rgba(0,0,0,0.5) 0px 0px 0px;
		padding-left: 3%;

}
