*{
	margin:0px 0px;
	padding: 0px 0px;
	border: 0px solid #000000;
	font-family: roboto;
}
/*border: 1px solid #FF0000;*/
#app{				/*Encierra toda la pagina y evita que se coloque un scroll horizontal*/
	display: block;
	overflow: hidden;
}

#cabecera{					/*Esta es la parte de la cabecera, el color el tamaño y el tipo de letra*/
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	height: 80px;
	width: 100%;
	background: #1976D2;
	padding: 0% 1.2%;
	align-content: center;
	align-items: center;
}
#hamburguesa{				/*Formato al boton de menu*/
	width: 3%;
	height: 50%;
	background-image: url("iconos/ic_menu_v3.png");
	background-size: cover;
	background-repeat: center;
	background-color: transparent;
	outline: none;
	cursor: pointer;
}
.logo{						/*Este sera el tamaño del Logo de la pagina*/
	width: 15%;
	height: 100%;
	cursor: pointer;
}
#logo{						/*Asigna la imagen al tamaño correspondiente*/
	width: 100%;
	height: 100%;
}

.buscar{					/*Tamaño a toda la zona relacionada con la busqueda (input y lupa)*/
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 25%;
	height: 50%;
}
#formulario{				/*Da formato al formulario que se utilizara para enviar la busqueda*/
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
}
#buscar{				/*Este es la parte del buscador fondo, tamaño*/
	text-align: left;
	width: 90%;
	height: 100%;
	color: white;
	font: bold 20px roboto;
	background-color: transparent;
	border-style: groove;
	border-width: 0px 0px 3px 0px;
	border-color: #0D47A1;
}
#lupa{									/*Le da tamaño al boton de la lupa*/
	width: 10%;
	background-color: transparent;
	outline: none;
	cursor: pointer;
	background-size: cover;
	background-repeat: center;
	background-image: url("iconos/ic_lupa_v3.png");
}
.botones{							/*Le da tamaño a toda la zona de los botones Registro e inicio de Sesión*/
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	height: 70%;
	width: 15%;
}
#botonesN{					/*Estos son los botones de Registro e Inicio de sesion*/
	box-shadow: rgba(0,0,0,0.5) 3px 3px 5px;
	border-radius: 15%;
	cursor: pointer;
	outline: none;
	color: white;
	text-align: center;
	height: 50%;
	width: 45%;
	font: 14px roboto;
	background-color: #1565c0;
	border-width: 1px;
	border-color: #0d47a1;
}
.iconos{					/*Tamaño a toda la zona de notificaciones e icono*/
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	height: 80%;
	width: 10%;
	margin-right: 1%;
}
.notificacion{				/*Le da tamaño a la caja de la notificacion*/
	width: 30%;
	height: 70%;
}
#notificacion{				/*Le asigna el tamaño a la imagen de la notificacion*/
	width: 100%;
	height: 100%;
	cursor: pointer;
}

.icono{						/*Le da tamñao a la caja del icono*/
	border-radius: 50%;
	width: 50%;
	margin-left: 20%;
	margin-top: 5%;
	background-color: transparent;
}
#icono{						/*Asigna el tamaño a la imagen del icono*/
	width: 100%;
	cursor: pointer;
}
input:focus{						/*Esto es para cuando se da click en un boton no se marque un cuadro alrededor*/
	outline: none;
}
::placeholder{						/*De aqui para abajo es para el color del placeholder*/
	color: #D8D8D8;
	opacity: 1;
	font: bold 80% roboto;
}
:-ms-input-placeholder{
	color: #D8D8D8;
	font: bold 80% roboto;
}
::-ms-input-placeholder{
	color: #D8D8D8;
	font: bold 80% roboto;
}
/*/////////////////////////////////////////////////////////////////////////Hasta aqui es la cabecera////////////////////////////////////////*/
#centro{							/*Parte central de la pagina*/
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	margin-right: 0%;
	margin-left: 0px;
}
#seccion-banner{					/*Caja para el banner*/
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: 100%;
	width: 20%;
	padding-bottom: 35%;
	margin: 0%;

}
#banner1{							/*Baner visible de la pagina*/
	background-color: #A4A4A4;
	padding: 5% 3% 5% 3%;
	float: left;
	text-overflow: initial;
	-webkit-animation: banner 1.5s;
	animation: banner 1.5s;
	width: 98%;
	height: 100%;
	visibility: hidden;
	position: absolute;
}

@keyframes banner{					/*Animacion*/
	0%{width: 1%; height: 100%;}
	100%{width: 94%; height: 100%;}
}
h1{										/*Formato a la parte en negro de la lista*/
	font: bold 20px roboto;
}
li{										/*Formato a la lista*/
	font: 15px roboto;
	border-radius: 10px;
	margin-top: 1%;
	margin-bottom: 1%;
	box-shadow: rgba(0,0,0,0.5) 3px 3px 5px;
}
a{										/*Formato para los hipervinculos*/
	text-decoration: none;
	text-decoration-color: #000000;
}
#vermas{
	font: 15px roboto;
}
#publicidad1{							/*Publicidad que se encuentra dentro del banner */
	width: 100%;
	height: 60%;
	padding: 0%;
	visibility: hidden;
}
#publicidad2{							/*Publicidad que se encuentra fuera del banner */
	width: 90%;
	margin: 0% 5%;
	padding: 0% 0% 0% 0%;
	visibility: visible;
}
/*///////////////////////////////////////////////////////////BANNER/////////////////////////////////////////////////////////////////////////*/
#centro1{								/*Parte central de la pagina de servicio*/
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 79%;
	height: 100%;
	padding-top: 1%;
}

#mapa{
	flex-shrink: 3;
	width: 100%;
	padding: 18%;
}

#recomendados{
	display: flex;
	justify-content: space-between;
	flex-shrink: 3;
	width: 100%;
	height: auto;
	padding-left: 0%;
	padding-right: 3%;

}
#video{
	padding: 0px 0px 0px 10px;
	height: 250px;
	width: 270px;
	flex-shrink: 3;
}
#pie{
	background-color: black;
	width: 100%;
	height: 35px;
	margin: 0%;
	padding: 0%;
 	bottom: 0px;
}
#anunciate{
	margin-top: 2.5px;
	margin-right: 50px;
	float: right;
	height: 30px;
	cursor: pointer;
	outline: none;
	padding: 5px;
	border-width: 1px;
	align-items: right;
}

.tarjetas{
	margin-left: 0px;
	margin-right: 3%;
	border: 1px solid #FF0000;
	width: 10%;

	background-color: #cccccc;
	font: bold 14px roboto;
	justify-content: space-between;
    flex-direction: column;
    height: auto;
	display: flex;
	box-shadow: rgba(0,0,0,0.5) 3px 3px 5px;


}
.recomImg{
	width: 100%;
	height: 25%;
}


.recomDesc{
	width: 100%;
	height: 50%;
	bottom: 0;
	text-align: center;
	background-color: #ededed;
}
.textDesc{
	margin: 10%;
	padding: 2%;
	padding-top: 10%;
}

.bt{
	background-color: #00CCF1;
	padding-top: 2%;
	margin: 3%;
	color: white;
}
.btVerServ{
	background-color: #00CCF1;
	text-align: center;
}
#centroCat{
	margin-left: 0%;
	margin-top: 5%;
	height:auto;
	text-align: left;

}
#tablaRecom{
	width: 100%
}
#superior{
	display: flex;
}#inferior{
	display: flex;
}
.card-text{
	text-align: center;
	margin: 0%;
	padding: 10% 1%;
	width: 100%;
	background-color: #cccccc;
}
.card{
	display: block;
	text-align: center;
	width: 30%;
	padding: 0%;
	margin: 1%;
	font: 120% roboto;
}

.card-body{
	padding: 0%;
	margin: 1%;
}

.btn-primary {
	padding: 0%;
	margin: 0%;
	width: 100%;
	height: 40px;
}
.linkCard{
	width: 100%;
	padding: 3% 1%;
	background-color:#00CCF1;
}
.linkCard a{
	color: #FFFFFF;
}


/*/////////////////////////////////////////////////////////////////////INICIA Busqueda///////////////////////////////////////////////////*/
